.card{
    margin-top: 2rem;
    justify-content: center;
}

body{
    .card{
        margin-right: 5rem;
        img{
            height: 16.5rem;
            width: 17.5rem;
        }
    }
}

footer{
    margin-top: 2rem;
}